# created by virtualenv automatically
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Виртуальное окружение
.venv/
venv/
ENV/
env/

# PyCharm
.idea/
*.iml

# Mac / Linux
.DS_Store

# Логи, временные файлы
*.log
*.tmp
.env
bot/config.py
database/check_db.py
database/reset_db.py